<div class="about-main">
  <h2>MyMateとは</h2>
  <p>
    SNSサービスです。
    友達を作ったり、趣味の合う友達同士でプロジェクトを立ち上げたりできます
    また、近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="tweets.png">
</div>
